/* PAGE LAYOUT */

body{

display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;

min-height:100vh;

}

/* TITLE */

.game-title{

text-align:center;

font-size:55px;

margin-top:40px;

margin-bottom:40px;

letter-spacing:4px;

}

/* CENTER AREA */

.game-wrapper{

display:flex;

justify-content:center;

align-items:center;

gap:60px;

flex-wrap:wrap;

}

/* GAME BOX */

.game-box{

background:rgba(255,255,255,0.08);

padding:40px;

border-radius:15px;

width:320px;

text-align:center;

box-shadow:0 15px 30px rgba(0,0,0,0.4);

backdrop-filter:blur(12px);

transition:0.3s;

}

.game-box:hover{

transform:translateY(-5px);

}

/* BOX TITLE */

.game-box h2{

margin-bottom:25px;

}

/* BUTTONS */

.room-btn{

display:inline-block;

padding:12px 25px;

background:linear-gradient(45deg,#36d1dc,#5b86e5);

border-radius:8px;

color:white;

text-decoration:none;

font-weight:bold;

}

.join-btn{

display:inline-block;

padding:12px 25px;

background:linear-gradient(45deg,#ff416c,#ff4b2b);

border-radius:8px;

color:white;

text-decoration:none;

font-weight:bold;

}

/* HOVER */

.room-btn:hover,
.join-btn:hover{

transform:scale(1.05);

box-shadow:0 0 15px rgba(255,255,255,0.5);

}

/* BOTTOM BUTTONS */

.bottom-buttons{

text-align:center;

margin-top:80px;

}