@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

}

.container{

background:rgba(255,255,255,0.08);

backdrop-filter:blur(15px);

padding:40px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

width:360px;

text-align:center;

}

h1,h2{

margin-bottom:20px;

font-weight:600;

}

input{

width:100%;

padding:12px;

margin:10px 0;
border:none;

border-radius:8px;

background:rgba(255,255,255,0.15);

color:white;

font-size:15px;

outline:none;

}

input::placeholder{
color:#ddd;
}

button{

width:100%;

padding:12px;

border:none;

border-radius:8px;

background:linear-gradient(45deg,#36d1dc,#5b86e5);

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.05);

box-shadow:0 0 15px #36d1dc;

}

a{

display:inline-block;

margin-top:12px;

color:#00e5ff;

text-decoration:none;

}

a:hover{

text-decoration:underline;

}