<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>com.tictactoe.servlet.GameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveGameServlet</servlet-name>
        <servlet-class>com.tictactoe.servlet.SaveGameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveGameServlet</servlet-name>
        <url-pattern>/saveGame</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.tictactoe.servlet.HistoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>

</web-app>